.App {
  text-align: center;
}
body{
  background-color: rgb(220, 217, 217);
}
.container{
  width: 90%;
  margin: 0 auto;
  
}
.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color:rgb(8, 29, 148)
}


